html, body {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 100px;
    padding: 10px 20px 0px;
    display: flex;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu ul{
    list-style: none;
    font-size: 15px;
}
.header {
    min-height: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.header img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.content {
    min-height: 300px;
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
}
.content img{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
}

.footer {
    min-height: 150px;
    font-size: medium;
    text-align: center;
}
.align-text{
    text-align: justify;
}

p,h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}