html, body {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 100px;
    padding: 10px 20px 0px;
    display: flex;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu ul{
    list-style: none;
    font-size: 15px;
}
.header {
    min-height: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.header img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.content {
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 300px;
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
}
.content img{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
}

.about {
    min-height: 300px;
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
}
.about img{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
}

.footer {
    min-height: 150px;
    font-size: medium;
    text-align: center;
}
.align-text{
    text-align: justify;
}

p,h3,form{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    -webkit-box-shadow: 4px 6px 29px -4px rgba(4,5,15,0.58);
    -moz-box-shadow: 4px 6px 29px -4px rgba(4,5,15,0.58);
    box-shadow: 4px 6px 29px -4px rgba(4,5,15,0.58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th,td{
    padding: 8px;
    text-align: center;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover td{
    background-color: rgb(217, 241, 241);
    cursor: pointer
}
textarea{
    width: 300px;
    height: 150px;
}
iframe{
    display: block;
    margin: 0 auto;
}
button{
    text-align: center;
}